body {
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    padding-top: 150px;
}

.header img {
    width: 350px;
    height: 350px;
    display: block;
    margin-right: 30px;
    margin-left: 60px;
}




.News {
    text-decoration: none;
    
    margin-top: 100px;
    color: black;
    
}